<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="crpInheritanceTest"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.crpinheritancetest.entity.Invoice</class>
        <class>com.company.crpinheritancetest.entity.CountyRevenue</class>
        <class>com.company.crpinheritancetest.entity.RevenueStream</class>
        <class>com.company.crpinheritancetest.entity.BusinessPermit</class>
        <class>com.company.crpinheritancetest.entity.Invoiceline</class>
    </persistence-unit>
</persistence>
